*{
    padding: 0;
    border: 0;
    background-color: cornsilk;
}

.dias{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 20px;
    margin-right: 10px;
    text-align: center;
    
}
.mes{
    text-align: center;
    font-size: 40px;
}